#wrapper {
  width: 960px;
  border: 1px solid red ;
  margin: 1em auto ;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}




header {
  grid-column: span 5;
  border: 5px solid green;
}
h1 {
  margin-left: 20px;
}

nav {
  grid-column: span 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 200px;
}

nav li a {
  display: block;
  background-color: red;
  border: 1px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
}

main {
  grid-column: span 3;
  margin-left: 24px;
  
}

main img{
  width: 250px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

aside {
  border: 5px solid red;
  margin: 20px;
  padding: 0px 20px 20px 20px;
}

footer {
  background-color: red;
  grid-column: span 5;
  padding-left: 20px;
}
