.specialh {
    color: red;
}

a {
    color: red;
    text-decoration: none;
}
a:hover {
    color: #ffff00;
    text-decoration: underline;
  }     
  
a:visited {
    color: green;
  }


.spanstyle {
    color:blue;
}

#div {
    color:pink;
}



h1{
color: orange;
font-weight: normal;
font-style: italic;
}
h2 {
color: orange;
font-weight: normal;
font-style: italic;
}
h3 {
color: orange;
font-weight: normal;
font-style: italic;
}


.sans-serif {
    font-family: sans-serif;
}

.classP {
    text-align: center;
}
.justify {
    text-align: justify;
}

.imgborder {
   border: 20px solid black; 
   background-color: yellow;
   padding: 10px;
}
body{
    background-image: url(isu.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}